@using System.Web.Optimization
@using MovieProjectWithUmbraco.Extensions
@inherits UmbracoTemplatePage
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - MovieProject</title>

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        <link rel="stylesheet" href="~/Content/star-rating.min.css" />
        <link rel="stylesheet" href="~/Content/jquery.Jcrop.min.css" />
        <link rel="stylesheet" href="~/Content/line/line.css" />
        <link rel="stylesheet" href="~/Content/line/green.css" />
        <link rel="stylesheet" href="~/Content/square/square.css" />
        <link rel="stylesheet" href="~/Content/square/green.css" />
        <link rel="stylesheet" href="~/Content/bootstrap-datepicker.min.css" />
        <link rel="stylesheet" href="~/Content/magicsuggest-min.css" />

        <style type="text/css">
            body {
                background: url(@Html.GetBackgroundImageUrl()) no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
        </style>

        @RenderSection("Styles", required: false)
    </head>
    <body>

        @{ Html.RenderAction("RenderHeader", "SiteLayout"); }

        <div class="container body-content">
            <div class="wrapper">
                <div class="row">
                    <div class="col-sm-8 col-md-9">
                        @RenderBody()
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <div class="row">
                            @if (!(Model.Content.DocumentTypeAlias == "login" ||
                                Model.Content.DocumentTypeAlias == "register" ||
                                Model.Content.DocumentTypeAlias == "search"))
                            {
                                <div class="col-xs-12">
                                    @{ Html.RenderAction("RenderSearch", "SiteLayout"); }
                                </div>
                            }
                            <div class="col-xs-12">
                                @{ Html.RenderAction("RenderInfoSection", "SiteLayout"); }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="navbar footer navbar-fixed-bottom">
            <footer class="text-center">
                <h5>&copy; 2016 - MovieProject</h5>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/bootstrap")
        <script src="~/scripts/star-rating.js"></script>
        <script src="~/scripts/jquery.Jcrop.js"></script>
        <script src="~/scripts/icheck.js"></script>
        <script src="~/scripts/bootstrap-datepicker.js"></script>
        <script src="~/scripts/magicsuggest.js"></script>
        <script src="~/scripts/custom/script.js"></script>

        @RenderSection("Scripts", required: false)

    </body>
</html>
