@using MovieProjectWithUmbraco.Models
@inherits UmbracoViewPage<LoginModel>

<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        @using (Html.BeginUmbracoForm("SubmitLoginForm", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-group text-danger">
                @Html.ValidationSummary()
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.Login, htmlAttributes: new { @class = "login-register-input", type = "text", placeholder = "Enter your login" })
                @Html.ValidationMessageFor(m => m.Login)
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.Password, htmlAttributes: new { @class = "login-register-input", type = "password", placeholder = "Enter your password" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="form-group">
                <button class="btn btn-success full-width-btn" type="submit">Log in</button>
            </div>
        }
    </div>
</div>