@using MovieProjectWithUmbraco.Models
@inherits UmbracoViewPage<RegisterModel>

<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        @using (Html.BeginUmbracoForm("SubmitRegisterForm", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-group text-danger">
                @Html.ValidationSummary()
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.Login, htmlAttributes: new { @class = "login-register-input", type = "text", placeholder = "Enter your login" })
                @Html.ValidationMessageFor(m => m.Login)
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.FullName, htmlAttributes: new { @class = "login-register-input", type = "text", placeholder = "Enter your full name" })
                @Html.ValidationMessageFor(m => m.FullName)
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, htmlAttributes: new { @class = "login-register-input", type = "text", placeholder = "Enter your email" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.Password, htmlAttributes: new { @class = "login-register-input", type = "password", placeholder = "Enter your password" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="form-group">
                <button class="btn btn-success" style="width: 100%;" type="submit">Register</button>
            </div>
        }
    </div>
</div>
