@using MovieProjectWithUmbraco.Models
@inherits UmbracoViewPage<Layout>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @RenderChildItems(Model.Links)
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (Model.UserName == null)
                {
                    <li>
                        <a href="/register">
                            <div class="user-text-container">
                                Register
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/login">
                            <div class="user-text-container">
                                <span class="glyphicon glyphicon-log-in"></span> Log in
                            </div>
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="/profile">
                            <div class="user-sm-img-container"><img class="img-responsive img-circle" src="@Model.UserImage" /></div>
                            <div class="user-text-container"><span class="user-name">@Model.UserName</span></div>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("MemberLogOut", "Account")">
                            <div class="user-text-container">
                                <span class="glyphicon glyphicon-log-out"></span> Log out
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

@helper RenderChildItems(IEnumerable<NavigationListItem> listItems)
{
    if (listItems != null)
    {
        foreach (var item in listItems)
        {
            <li>
                @if (!string.IsNullOrEmpty(item.Text))
                {
                    @item.Text
                }
                else if (item.Link != null)
                {
                    <a href="@item.Link.Url">
                        <div class="user-text-container">@item.Link.Text</div>
                    </a>
                }

                @if (item.HasChildren)
                {
                    <ul class="sub-menu">
                        @RenderChildItems(item.Items)
                    </ul>
                }
            </li>
        }
    }
}
