@using MovieProjectWithUmbraco.Models
@inherits UmbracoViewPage<InfoSection>

@RenderRecentSection(Model.RecentMovies, "Recent movies...")

@RenderRecentSection(Model.RecentPeople, "Recent people...")

@helper RenderRecentSection(IEnumerable<InfoItem> items, string title)
{
    <div class="panel panel-default">
        <div class="panel-heading" style="background-color: black; opacity: 0.75;">
            <h4 style="font-weight: bold; text-transform: uppercase">@title</h4>
        </div>
        <div class="panel-body">
            @foreach (var item in items)
            {
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div class="blog-inner">
                            <a href="@item.Url"><img style="margin-left: auto; margin-right: auto;" class="img-responsive" src="@item.ImagePath" alt="Blog"></a>
                            <div class="desc">
                                <h3><a href="@item.Url">@item.Title</a></h3>
                                <p><a href="@item.Url" class="btn btn-primary btn-outline with-arrow">Read More<i class="icon-arrow-right"></i></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
